/*CSS used for specific colors, sizing, fonts and placing after clients request, Bootstrap unable to meet requirements*/
button {
  width: 45px;
  height: 30px;
  text-size-adjust: auto;
  font-family: Consolas;
}

button#staffOut, button#deliveryClear, button#deliveryRemove, button#staffAction, button#deliveryAction{
  font-size: 12px;
  background-color: #dc3545;
}

button#staffOut, button#deliveryClear{
   margin-left: 15%;
}

button#staffOut:hover, button#deliveryClear:hover {
  background-color: rgb(250, 21, 21);
}

button#staffIn, button#scheduleAdd, button#staffOutBreak {
  background-color: #198754;
  font-size: 12px;
}

button#staffIn, button#scheduleAdd{
  margin-right: 15%;
}

button#staffIn:hover, button#scheduleAdd:hover {
  background-color: rgb(24, 194, 24);
}

button#deliveryClose, button#staffClose, button#staffDayOver, button#deliveryDismiss{
  background-color: #83D1E1;
  font-size: 12px;
}

h6, h4, #header {
  font-family: Calibri;
  color: #212529;
}

h6, #header{
  padding-top: 30px;
}

table{
  border-color: #212529;
  margin-left: auto;
  margin-right: auto;
}

th{
  font-family: Consolas;
  color: #fff;
  background-color: #0E8EA8;
  font-size: 12px;
  padding: 5px;
}

td{
  text-align:center;
  font-family: Calibri;
  background-color: #83D1E1;
  color: #212529;
  padding:5px;
}

table tr:hover td{
  background-color:#0E8EA8;
}

#staffTable .rowselected td{
  background-color:#0E8EA8;
}

#deliveryTable .selected td{
  background-color:#0E8EA8;
}

#time{
  font-family:Calibri;
  color: #212529;
  font-size:20px;
}

.toast{
  z-index: 5;
  margin: auto;
  font-family:Calibri;
  text-align: center;
}
#staffAction,#staffClose, #deliveryAction, #deliveryClose, #staffDayOver, #staffOutTemp{
  text-align: center;
  font-size:10px;
  size: 20px;
  position:center;
}

#vehicleInput, #nameInput, #surnameInput, #telephoneInput, #deliveryInput, #returnInput{
  background-color: #83D1E1;
  border: none;
}

input{
  width: 100px;
  height: 30px;
}

#navbarDashboard, #navbarInventory, #navbarOrders{
  background-color: #0E8EA8;
  color: #fff;
  font-family: Consolas; 
}

#navbarDashboard:hover, #navbarInventory:hover, #navbarOrders:hover{
  background-color:#83D1E1;
}

#navdropdown1, #navdropdown2{
    background-color: #83D1E1;
    color: #212529;
    font-family: Consolas;
}

li{
  list-style-type: none;
}

