button {
  width: 45px;
  height: 30px;
  font-family: Consolas;
}

button#staffOut, button#deliveryClear {
  font-size: 12px;
  margin-left: 15%;
  background-color: #dc3545;
}

button#staffOut:hover, button#deliveryClear:hover {
  background-color: rgb(247, 44, 44);
}

button#staffIn, button#scheduleAdd {
  background-color: #198754;
  font-size: 12px;
  margin-right: 15%;
}

button#staffIn:hover, button#scheduleAdd:hover {
  background-color: rgb(24, 194, 24);
}

h6, h4 {
  font-family: Calibri;
  color: #212529;
}

table {
  border-color: #212529;
  margin-left: auto;
  margin-right: auto;
}

th {
  font-family: Consolas;
  background-color: #0E8EA8;
  font-size: 12px;
  padding: 5px;
}

td {
  font-family: Calibri;
  background-color: #83D1E1;
  color: #212529;
  padding:5px;
}