/*CSS used for specific colors, sizing, fonts and placing after clients request, Bootstrap unable to meet requirements*/
button{
  font-family: Consolas;
}

button#staffOut,button#staffIn,button#deliveryAdd, button#deliveryClear{
  width: 45px;
  height: 30px;
  font-size: 12px;
}

button#staffOut, button#deliveryClear, button#deliveryRemove, button#staffAction, button#deliveryAction{
  background-color: #dc3545;
}

button#staffOut:hover, button#deliveryClear:hover, button#deliveryRemove:hover, button#staffAction:hover, button#deliveryAction:hover{
  background-color: rgb(250, 21, 21);
}

button#staffIn, button#deliveryAdd, button#staffOutBreak{
  background-color: #198754;
}

button#staffIn:hover, button#deliveryAdd:hover, button#staffOutBreak:hover {
  background-color: rgb(24, 194, 24);
}

button#deliveryClose, button#staffClose, button#staffDayOver, button#deliveryDismiss,button#minutesAwayButton{
  background-color: #83D1E1;
}

button#deliveryClose:hover, button#staffClose:hover, button#staffDayOver:hover, button#deliveryDismiss:hover,button#minutesAwayButton:hover{
  background-color: #0E8EA8;
}

button#staffOut, button#deliveryClear{
   margin-left: 15%;
}

button#staffIn, button#deliveryAdd{
  margin-right: 15%;
}

#receptionHeader, #modalHeader, #scheduleHeader, #staffHeader, #receptionHeader, #deliveryHeader {
  font-family: Calibri;
  color: #212529;
}

table{
  border-color: #212529;
  margin-left: auto;
  margin-right: auto;
}

th{
  font-family: Consolas;
  color: #fff;
  background-color: #0E8EA8;
}

td{
  text-align:center;
  font-family: Calibri;
  background-color: #83D1E1;
  color: #212529;
}

table tr:hover td{
  background-color:#0E8EA8;
}

#staffTable .rowselected td,#deliveryTable .selected td{
  background-color:#0E8EA8;
}

#time{
  font-family:Calibri;
  color: #212529;
  font-size:20px;
}

.toast{
  font-family:Calibri;
}

#vehicleInput, #nameInput, #surnameInput, #telephoneInput, #deliveryInput, #returnInput{
  background-color: #83D1E1;
}

#navbarDashboard, #navbarInventory, #navbarOrders,#navbar{
  background-color: #0E8EA8;
  color: #fff;
  font-family: Consolas; 
}

#navbarDashboard:hover, #navbarInventory:hover, #navbarOrders:hover{
  background-color:#83D1E1;
}

#navbarInventorydropdown, #navbarOrdersdropdown{
    background-color: #83D1E1;
    color: #212529;
    font-family: Consolas;
}

#navbarInventorydropdown a:hover, #navbarOrdersdropdown a:hover{
  background-color: #0E8EA8;
}
